<div id="filters">
    <div class="scroll">
        <div class="filter">
            <a href="/listings/search/trending"><div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p></a>
        </div>
        <div class="filter">
            <a href="/listings/search/rooms"><div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p></a>
        </div>
        <div class="filter">
            <a href="/listings/search/iconic-cities"><div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p></a>
        </div>
        <div class="filter">
            <a href="/listings/search/mountain"><div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountain</p></a>
        </div>
        <div class="filter">
            <a href="/listings/search/castles"><div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p></a>
        </div>
        <div class="filter">
            <a href="/listings/search/amazing-pools"><div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p></a>
        </div>
        <div class="filter">
            <a href="/listings/search/camping"><div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p></a>
        </div>
        <div class="filter">
            <a href="/listings/search/farms"><div><i class="fa-solid fa-tractor"></i></div>
            <p>Farms</p></a>
        </div>
        <div class="filter">
            <a href="/listings/search/arctic"><div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p></a>
        </div>
        <div class="filter">
            <a href="/listings/search/boats"><div><i class="fa-solid fa-ship"></i></div>
            <p>Boats</p></a>
        </div>
        <div class="filter">
            <a href="/listings/search/golfing"><div><i class="fa-solid fa-golf-ball-tee"></i></div>
            <p>Golfing</p></a>
        </div>
    </div>
    
    <div class="tax-toogle ms-auto">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label " for="flexSwitchCheckDefault">Display total after taxes</label>
        </div>
    </div>
</div>